.header 
    height: 90px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: rosybrown
    padding-left: 5px
    position: fixed
    width: 100%
    z-index: 1

    .control-buttons
        padding-right: 25px

    .nav-links
        display: flex
        gap: 15px
        font-size: 18px

        .nav-link
            text-decoration: none
            color: white
        
        .nav-link--active
            text-decoration: underline

           
.header--light
    color: black

.header--dark
    background-color: gray
    color: white